.app-logo {
    width: 200px;
    margin: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.nav-items > ul {
    display: flex;
}
.nav-items > ul > li {
    font-size: 24px;
    margin: 20px 10px;
    list-style-type: none;
}

.nav-items {
    margin: 30px;
}

.res-img {
    width: 100%;
    border-radius: 5px;
}

.search {
    margin: 10px;
}

.res-card {
    box-sizing:border-box;
    box-shadow: white;
    margin: 20px;
    padding: 5px;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.res-card:hover {
    cursor:pointer;
    border: 1px solid black;
}

.res-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter {
    margin: 10px;
}

.filter-search {
    display: flex;
}
.filter-btn {
    margin: 10px;
}

.shimmer-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card {
    margin: 20px;
    height: 300px;
    width: 200px;
    background-color: #f0f0f0;
}

.btn {
    width: 100px;
    cursor: pointer;
}

.restaurant-menu {

    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
